## Get data

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

import csv

In [23]:
sa = pd.read_csv("./data/student_applications_data_2023-09-05_en.csv", encoding= 'unicode_escape', quoting=csv.QUOTE_NONE, delimiter=';', low_memory=False)

In [6]:
sa.head()

,Application number,Date submitted,Date closed,Student,Mode of study,"Level of study (I - Engineering, M - Master)",Language,Specialization,Application status,Type of application,...,Payment for repeated subjects,Thesis count,Thesis information,Level of thesis progress,Word family in substantation,Word health in substantation,Word family in substantation.1,Word accident in substantation,Word work in substantation,Word promise in substantation
0,565,13.10.2017 09:26,14.10.2017 08:56,WqAdrXQFVXEuVFbBNi8ZYw,D,I,PL,"Model 2,I,D,PL,7 - In¿ynieria Komputerowa",Zamkniêty - decyzja pozytywna,Wniosek ogólny,...,3260,0.0,NaN,NaN,NIE,NIE,NIE,NIE,TAK,NIE
1,111,15.09.2017 17:02,19.09.2017 16:05,b7uHtLHmJCf40Cj27vMhVg,Z,I,PL,"Model 2,I,Z,PL,8 - Technika Wysokich Napiêæ i ...",Zamkniêty - decyzja negatywna,Podanie o rejestracjê,...,1250,0.0,NaN,NaN,TAK,TAK,NIE,NIE,NIE,NIE
2,294,18.09.2017 22:57,19.09.2017 16:27,DjOIoCquSJwSIQ96XqbiQ,Z,I,PL,"Model 2,I,Z,PL,8 - Elektroenergetyka",Zamkniêty - decyzja pozytywna,Podanie o rejestracjê,...,560,0.0,NaN,NaN,NIE,NIE,NIE,NIE,NIE,NIE
3,41,-,15.09.2017 09:23,R9larUFY1MSuVgu3YA4iUA,D,M,PL,"Model 2,M,D,PL,3 - Automatyka",Anulowany - usuniêty,Wniosek ogólny,...,0,0.0,NaN,NaN,NIE,NIE,NIE,NIE,TAK,NIE
4,37,-,15.09.2017 15:38,ZMyetWXFos7lfJ9HOQWw6Q,D,I,EN,"Model 2,I,D,EN,8 - Electrical Engineering",Anulowany - usuniêty,Podanie o rejestracjê,...,320,0.0,NaN,NaN,NIE,NIE,NIE,NIE,TAK,NIE

In [7]:
sa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37636 entries, 0 to 37635
Data columns (total 42 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Application number                            37636 non-null  object
 1   Date submitted                                37634 non-null  object
 2   Date closed                                   37634 non-null  object
 3   Student                                       37636 non-null  object
 4   Mode of study                                 37636 non-null  object
 5   Level of study (I - Engineering, M - Master)  37636 non-null  object
 6   Language                                      37636 non-null  object
 7   Specialization                                37636 non-null  object
 8   Application status                            37636 non-null  object
 9   Type of application                           37636 non-null  object
 10  Person recevienbg                             35852 non-null  object
 11  Person processing                             36760 non-null  object
 12  Word regulation in substantation              37527 non-null  object
 13  Word formal in substantation                  37527 non-null  object
 14  Word progress in substantation                37527 non-null  object
 15  Was the appeal submitted                      37527 non-null  object
 16  Attachments                                   37527 non-null  float64
 17  How many changes of statuses                  37527 non-null  float64
 18  Registration semester                         33054 non-null  object
 19  Academic semester                             37527 non-null  object
 20  Semester of study                             37527 non-null  object
 21  Missing ECTS                                  37527 non-null  float64
 22  ECTS in recent semester                       37470 non-null  object
 23  Total ECTS                                    37527 non-null  float64
 24  Missing subjects from sem 1                   37527 non-null  float64
 25  Missing subjects from sem 2                   37455 non-null  object
 26  Missing subjects from sem 3                   37418 non-null  float64
 27  Missing subjects from sem 4                   37527 non-null  object
 28  Missing subjects from sem 5                   37527 non-null  object
 29  Missing subjects from sem 6                   37527 non-null  object
 30  Total missing subjects                        37527 non-null  object
 31  Missing subjects codes                        14541 non-null  object
 32  Payment for repeated subjects                 37527 non-null  object
 33  Thesis count                                  37418 non-null  float64
 34  Thesis information                            16839 non-null  object
 35  Level of thesis progress                      1568 non-null   object
 36  Word family in substantation                  37418 non-null  object
 37  Word health in substantation                  37418 non-null  object
 38  Word family in substantation.1                37418 non-null  object
 39  Word accident in substantation                37418 non-null  object
 40  Word work in substantation                    37418 non-null  object
 41  Word promise  in substantation                37418 non-null  object
dtypes: float64(7), object(35)
memory usage: 12.1+ MB

In [8]:
sa.describe()

,Attachments,How many changes of statuses,Missing ECTS,Total ECTS,Missing subjects from sem 1,Missing subjects from sem 3,Thesis count
count,37527.000000,37527.000000,37527.000000,37527.000000,37527.000000,37418.000000,37418.000000
mean,0.599941,4.783036,20.495137,97.914355,1.151518,1.115239,0.564595
std,1.132638,1.720934,15.576259,74.604926,2.496197,2.329793,0.705364
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,4.000000,9.000000,40.000000,0.000000,0.000000,0.000000
50%,0.000000,4.000000,21.000000,73.000000,0.000000,0.000000,0.000000
75%,1.000000,5.000000,30.000000,170.000000,1.000000,1.000000,1.000000
max,27.000000,32.000000,234.000000,1980.000000,21.000000,20.000000,7.000000

## EDA (Exploratory Data Analysis)

In [24]:
sa['Application status'].unique()

array(['Zamkniêty - decyzja pozytywna', 'Zamkniêty - decyzja negatywna',
       'Anulowany - usuniêty', 'Zamkniêty - inne',
       'Zamkniêty - odrzucony formalnie', 'Zwrócony do korekty',
       'W trakcie edycji - niez³o¿ony',
       'Decyzja pozytywna - oczekuje na realizacjê',
       'Rozpatrywany w dziekanacie',
       'Oczekuje na akceptacjê opiekuna pracy',
       'Oczekuje na wniosek Kierownika Zak³adu', '11', '8', '6', '4', '5',
       '3', '9', '12', 'Oczekuje na opiniê opiekuna pracy',
       'Oczekuje na decyzjê Dziekana ds. Studiów', '7', '10',
       'Oczekuje na decyzjê Dziekana ds. Studenckich'], dtype=object)

Remove from dataset applications which does not have status which results from dean's office decision

In [25]:
class Decision:
    descriptions = (
        'Zamkniêty - decyzja pozytywna',
        'Zamkniêty - decyzja negatywna',
        'Zamkniêty - inne',
        'Zamkniêty - odrzucony formalnie',
        'Zwrócony do korekty',
        'Decyzja pozytywna - oczekuje na realizacjê'
    )
    
    @staticmethod
    def getClassId(description):
        return Decision.descriptions.index(description)
    
    @staticmethod
    def getDescription(classId: int):
        return Decision.descriptions[classId]

In [29]:
sa = sa.loc[sa['Application status'].isin(Decision.descriptions)]
sa['Application status'].unique()

array(['Zamkniêty - decyzja pozytywna', 'Zamkniêty - decyzja negatywna',
       'Zamkniêty - inne', 'Zamkniêty - odrzucony formalnie',
       'Zwrócony do korekty',
       'Decyzja pozytywna - oczekuje na realizacjê'], dtype=object)

In [36]:
decision_column = sa.apply(lambda row: Decision.getClassId(row['Application status']), axis=1)
sa['decision'] = decision_column

In [43]:
sa['decision'].describe()

count    35460.000000
mean         1.581416
std          0.824721
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          5.000000
Name: decision, dtype: float64